.ico {
    cursor: pointer;
    display: inline-block;
}

.icon-square {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 19px;
    &_yellow {
        background-color: $color-yellow;
    }
    &_red {
        background-color: $color-red;
    }
    &_blue {
        background-color: $color-blue;
    }
    &_violet {
        background-color: $color-violet;
    }
}

.ico_play {
    background-image: url('/img/icons/Triangle\ Copy\ 6.svg');
    width: 18px;
    height: 19px;
}

.ico_arrow {
   background-image: url('/img/icons/.svg');
   width: 12px;
   height: 17px; 
}